.task-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 2%;
    background-color: rgb(206, 206, 206);
    border-left: 5px solid rgb(206, 206, 206);
    border-radius: 8px;

    &.reminder {
        border-left: 5px solid rgb(0, 124, 226);
    }

    .task-item-controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

        fa-icon:first-of-type {
            top: 0;
            right: 0;
            position: absolute;
            font-size: 27px;
            cursor: pointer;
            padding: 6px 8px;
            border-top-right-radius: 8px;
            background-color: rgb(255, 82, 82);
        }

        fa-icon:last-of-type {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 21px;
            cursor: pointer;
            padding: 6px 8px;
            border-bottom-right-radius: 8px;
            background-color: rgb(41, 141, 255);
        }
    }
}
