form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2%;

    div {
        display: flex;
        align-items: center;
        label {
            margin-right: 6px;
        }
    }

    textarea {
        resize: none;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        border: none;
        outline: none;
        padding: 6px;
        font-size: 16px;
        font-family: Helvetica, sans-serif;
        margin-bottom: 6px;
    }

    button {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 2px 30px;
        border: none;
        border-radius: 6px;
        background-color: #333;
        color: white;
        font-size: 14px;
    }
}
